doctype html
html(ng-app="epicDatabase")
  head
    title
      | Startups
    script(src="/static/js/angular-1.2.9/angular.min.js")
    script(src="/static/js/controllers/startup_controller.js")
  body(ng-controller="Startup")
    div(ng-repeat="startup in startups")
      div
        h1 
          a(href="{{startup.website}}")
            | {{startup.name}}        
        img(src="{{startup.bannerPhoto}}")
        h2 Founders
        p(ng-repeat="founder in startup.founders")
          | {{founder}}
        h2 Industries
        p(ng-repeat="industry in startup.industries")
          | {{industry}}
        h2 Email Address
        p {{startup.email}}
        h2 Mission
        p {{startup.mission}}
        h2 Stage
        p {{startup.stage}}
        h2 Location
        p {{startup.location}}
        h2 Phone Number
        p {{startup.phone}}
        h2 Media
        p
          a(href="{{startup.media}}")
            | {{startup.media}}
        h2 Details
        p {{startup.details}}
        h2 Related Startups
        p(ng-repeat="related in startup.relatedStartups")
          | {{related}}
        hr
        
          
          
          
          
