table
  tr
    td Name:
    td
      input(type="text", name="name", ng-model="toEdit.name")
    td
  tr
    td Website:
    td
      input(type="text", name="website", ng-model="toEdit.website")
    td
  tr
    td Banner Photo:
    td
      input(type="text", name="bannerPhoto", ng-model="toEdit.bannerPhoto")
    td
  tr
    td Founders:
    td
      table
        tr(ng-repeat="founder in toEdit.founders track by $index")
          td
            input(type="text", ng-model="toEdit.founders[$index]")
          td
            button(ng-click="deleteFounder($index)")
              | Delete
        tr
          td
            button(ng-click="addFounder()")
              | Add Founder
          td
     td
      
  tr
    td Industries:
    td
      table
        tr(ng-repeat="industry in toEdit.industries track by $index")
          td
            input(type="text", ng-model="toEdit.industries[$index]")
          td
            button(ng-click="deleteIndustry($index)")
              | Delete
        tr
          td
            button(ng-click="addIndustry()")
              | Add Industry
          td
    td
  tr
    td Email Address:
    td
      input(type="text", name="email", ng-model="toEdit.email")
    td
  tr
    td Mission:
    td
      textarea(name="mission", ng-model="toEdit.mission")
    td
  tr
    td Stage:
    td
      input(type="text", name="stage", ng-model="toEdit.stage")
    td
  tr
    td Location:
    td
      input(type="text", name="location", ng-model="toEdit.location")
    td
  tr
    td Phone Number:
    td
      input(type="text", name="phone", ng-model="toEdit.phone")
    td
  tr
    td Media: 
    td
      input(type="text", name="media", ng-model="toEdit.media")
    td
  tr
    td Details:
    td
      textarea(name="details", ng-model="toEdit.details")
    td
  tr
    td Related Startups: 
    td
      table
        tr(ng-repeat="related in toEdit.relatedStartups track by $index")
          td
            input(type="text", ng-model="toEdit.relatedStartups[$index]")
          td
            button(ng-click="deleteRelatedStartup($index)")
              | Delete
        tr
          td
            button(ng-click="addRelatedStartup()")
              | Add Related Startup
          td
    td
button(ng-click="commitEdit()")
  | Save Changes
button(ng-click="revertEdit()")
  | Revert Changes

