h1 New Startup
ng-include(src="'/startup/form'")
button(class="btn btn-success", ng-click="saveNew()", ng-disabled="disableForm")
  | Save New Startup
p(ng-hide="loadedStartups")
  | Loading ...
p(ng-show="saving")
  | Saving new startup...