h1 Edit Startup
ng-include(src="'/startup/form'")
button(class="btn btn-success", ng-click="commitEdit()", ng-disabled="disableForm")
  | Save Changes
button(class="btn btn-warning", ng-click="revertEdit()", ng-disabled="disableForm")
  | Revert Changes
p(ng-hide="loadedStartups")
  | Loading ...
p(ng-show="saving")
  | Saving changes...