div(ng-hide="loadedStartups")
  p Loading ...
p
  a(href="#/add") Add New Startup  
div(ng-repeat="(id, startup) in startups track by id")
  div
    h1 
      a(href="{{startup.website}}")
        | {{startup.name}}
    p
    
      button(ng-click="editStartup(startup)", ng-disabled="startup.disableModify") Edit
      button(ng-click="deleteStartup(startup)", ng-disabled="startup.disableModify") Delete
    p
      img(ng-src="{{startup.bannerPhoto}}")
    h2 Founders
    p(ng-repeat="founder in startup.founders track by $index")
      | {{founder}}
    h2 Industries
    p(ng-repeat="industry in startup.industries track by $index")
      | {{industry}}
    h2 Email Address
    p {{startup.email}}
    h2 Mission
    p {{startup.mission}}
    h2 Stage
    p {{startup.stage}}
    h2 Location
    p {{startup.location}}
    h2 Phone Number
    p {{startup.phone}}
    h2 Media
    p
      a(href="{{startup.media}}")
        | {{startup.media}}
    h2 Details
    p {{startup.details}}
    h2 Related Startups
    p(ng-repeat="related in startup.relatedStartups track by $index")
      | {{related}}
    hr