div(ng-hide="loadedStartups")
  p Loading ...
p
  a(href="#/add") Add New Startup
p
  input(class="form-control", type="text", placeholder="Search startups", ng-model="searchStartups")
p Filters
div(class="checkbox", ng-repeat="stage in stages")
  label
    input(type="checkbox", ng-model="stage.enabled", ng-change="updateFilter()")
    | {{stage.name}}
div(ng-repeat="startup in (startups | filter:searchStartups | filter:startupFilter | orderBy:'+name')")
  div
    h1 
      a(href="{{startup.website}}")
        | {{startup.name}}
    p
    
      button(class="btn btn-info", ng-click="editStartup(startup)", ng-disabled="startup.disableModify") Edit
      button(class="btn btn-danger", ng-click="deleteStartup(startup)", ng-disabled="startup.disableModify") Delete
    p
      img(ng-src="{{startup.bannerPhoto}}")
    h2 Founders
    p(ng-repeat="founder in startup.founders track by $index")
      | {{founder.name}}
    h2 Industries
    p(ng-repeat="industry in startup.industries track by $index")
      | {{industry}}
    h2 Email Address
    p {{startup.email}}
    h2 Mission
    p {{startup.mission}}
    h2 Stage
    p {{startup.stage.name}}
    h2 Location
    p {{startup.location}}
    h2 Phone Number
    p {{startup.phone}}
    h2 Media
    p(ng-repeat="medium in startup.media track by $index")
      a(href="{{medium}}")
        | {{medium}}
    h2 Details
    p {{startup.details}}
    h2 Related Startups
    p(ng-repeat="related in startup.relatedStartups track by $index")
      a(href="{{related.website}}") {{related.name}}
    hr